@import '../../variables';
mat-toolbar {
  color: $lightGray;
  background-color: $darkPurple;
  .header {
    font-size: 2rem;
    cursor: pointer;
  }
  .basic-button{
    font-size: 1.5rem;
  }
  #searchBar {
    width: 40vw;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 1.2rem;
    .example-form {
      min-width: 150px;
      width: 100%;
      .search-button{
        margin-left: 0.5vw;
        color: $spotifyBlack;
      }
    }
    .example-full-width {
      position: relative;
      width: 100%;
      .loading-area {
        position: relative;
        width: 10%;
        float: right;
        ::ng-deep {
          .spinner-circle{
            font-size: 2.5px;
            margin-bottom: 0.05vh;
          }
        }
      }
    }
  }
}
::ng-deep {
  input.mat-input-element {
    color: $lightGray;
  }
  .mat-option {
    color: $lightGray;
    font-size: 1.5rem;
    line-height: 0 !important;
    height: auto !important;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .mat-option-text{
    vertical-align: middle ;
  }
  .mat-autocomplete-panel {
    background: $spotifyBlack;
    max-height: 550px !important;
  }
}
.example-option-img{
  vertical-align: middle;
  margin-right: 0.5rem;
  width: 60px;
  height: 60px;
}

@media (max-width: 1200px) {
  mat-toolbar {
    #searchBar {
      width: 65vw;
      margin-top: 3%;
      .example-form {
        .search-button{
          margin-left: 3vw;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  mat-toolbar {
    .header {
      display: none;
    }
    #searchBar {
      width: 78vw;
      margin-left: 1%;
      margin-top: 3%;
      .example-form {
        .search-button{
          margin-left: 3vw;
        }
      }
    }
  }
}

@media (max-width: 766px) {
  mat-toolbar {
    #searchBar {
      width: 78vw;
      margin-top: 3%;
      margin-left: 1%;
      font-size: 1rem;
      .example-form {
        .search-button{
          min-width: 40px;
          margin-left: 2vw;
          .button-text {
            display: none;
          }
        }
      }
    }
  }
  ::ng-deep {
    .mat-option {
      font-size: 1rem;
    }
  }
  .example-option-img{
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 425px) {
  mat-toolbar {
    padding: 0;
    #searchBar {
      width: 76vw;
      margin-top: 3%;
      margin-left: 4%;
      font-size: 0.8rem;
      .example-full-width {
        .loading-area {
          ::ng-deep {
            .spinner-circle{
              font-size: 2px;
              margin-bottom: 0.05vh;
            }
          }
        }
      }
    }
  }
}


