mat-toolbar{
  padding-left: 10vw;
  padding-right: 10vw;
  span {
    margin: 1%;
  }
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }

  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  #searchBar {
    width: 40vw;
    margin-top: 1%;
    font-size: 1.1rem;
    .example-form {
      min-width: 150px;
      max-width: 600px;
      width: 100%;
    }
    .example-full-width {
      width: 100%;
    }
  }
}




