<mat-toolbar>
  <span class="header" routerLink="/home">WebTunes</span>
  <span>
    <div id="searchBar">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput
                placeholder="Search for an album or an artist"
                aria-label="searchBar"
                [matAutocomplete]="auto"
                [formControl]="queryCtrl"
                (keyup)="searchQuery()">
          <mat-autocomplete #auto="matAutocomplete">
          <mat-option (click)="loading.startLoading()" routerLink="results/{{result.type}}/{{result.name}}/{{result.id}}" *ngFor="let result of filteredResults | async" [value]="result.name">
              <img *ngIf="result.images.length !== 0" class="example-option-img" aria-hidden alt="Entry thumbnail" [src]="result.images[0].url"/>
              <img *ngIf="result.images.length === 0" class="example-option-img" src="../../assets/thumbnails/no_image.jpg" alt="No image" />
              <span>{{result.name}}</span> |
              <small>{{result.type}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </span>
</mat-toolbar>
<ngx-loading [show]="loading.isLoading"></ngx-loading>
