<mat-toolbar>
  <span>WebTunes</span>
  <span>
    <div id="searchBar">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput
                placeholder="Search for a track, album or an artist"
                aria-label="searchBar"
                [matAutocomplete]="auto"
                [formControl]="queryCtrl"
                (keyup)="searchQuery()">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option routerLink="results/{{result.type}}/{{result.id}}" *ngFor="let result of filteredResults | async" [value]="result.name">
              <img *ngIf="result.images.length !== 0" class="example-option-img" aria-hidden [src]="result.images[0].url" height="50">
              <span>{{result.name}}</span> |
              <small>{{result.type}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
