@import '../../../../variables';

@media only screen and (min-width: 1200px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    top: 0;
    .bg-image {
      filter: blur(6px);
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      height: 110%;
      width: 110%;
      left: 0;
      top: 0;
      z-index: -1000;
      position: fixed;
    }
    .album-container{
      margin: 0 auto;
      width: 55%;
      position: absolute;
      margin-top: 1vh;
      padding-left: 5vw;
      padding-right: 5vw;
      .top-subcontainer {
        padding-top: 2vh;
        border-radius: 25px;
        background: rgba($spotifyBlack, 0.9);
        padding-bottom: 1vh;
        margin-bottom: 2vh;
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .column{
            border-radius: 25px;
            margin: 0 10px;
            flex-wrap: wrap;
          }
          .column.left{
            width: 50%;
            .album-banner{
              img {
                max-width: 450px;
              }
            }
          }
          .column.right{
            width: 50%;
            .album-name{
              padding-top: 1vh;
              h1{
                font-size: 3rem;
              }
            }
            .album-miscalleanous{
              text-align: left;
              border-radius: 25px;
              padding: 3%;
              margin-bottom: 10px;
              .release-date{
                font-size: 1.2rem;
                padding-top: 1vh;
                padding-bottom: 1vh;
              }
              .album-artist{
                font-size: 1.2rem;
                padding-top: 1vh;
                padding-bottom: 1vh;
              }
              .album-label{
                font-size: 1.2rem;
                padding-bottom: 1vh;
              }
            }
          }
        }
      }
      .bottom-subcontainer{
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .column{
            border-radius: 25px;
            margin: 0 10px;
            flex-wrap: wrap;
          }
          .column.left{
            width: 65%;
          }
          .column.right{
            width: 35%;
          }
        }
        .album-tracklist{
          text-align: left;
          background: rgba($spotifyBlack, 0.9);
          border-radius: 25px;
          padding: 3%;
          margin-bottom: 10px;
          table {
            width: 100%;
            ::ng-deep{
              td.mat-cell.cdk-column-name{
                cursor: pointer;
              }
              td.mat-cell.cdk-column-name:hover{
                color: aqua;
              }
            }
          }
        }
        .album-artists{
          padding-top: 1vh;
          padding-bottom: 1vh;
          background: rgba($spotifyBlack, 0.9);
          border-radius: 25px;
          .album-artist-image {
            border-radius: 50%;
          }
          .artist-box{
            transition: transform .2s;
            margin-top: 2vh;
          }
          .artist-box:hover {
            transform: scale(1.15);
            cursor: pointer;
          }
        }
      }
    }
  }
}
