@import '../../../../variables';

.wrapper{
  color: $lightGray;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  top: 0;
  .bg-image{
    filter: blur(6px);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    width: 110%;
    left: 0;
    top: 0;
    z-index: -1000;
    position: fixed;
  }
  .track-container{
    margin: 0 auto;
    width: 65%;
    position: absolute;
    margin-top: 1vh;
    .top-subcontainer{
      padding-top: 2vh;
      border-radius: 25px;
      background: rgba($spotifyBlack, 0.9);
      padding-bottom: 1vh;
      margin-bottom: 2vh;
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .column{
          border-radius: 25px;
          flex-wrap: wrap;
        }
        .column.left{
          width: 50%;
          .track-banner{
            img {
              max-width: 450px;
            }
          }
        }
        .column.right{
          width: 50%;
          .track-name{
            padding-top: 1vh;
            h1{
              font-size: 2rem;
            }
          }
          .track-miscalleanous{
            text-align: left;
            border-radius: 25px;
            padding: 3%;
            margin-bottom: 10px;
            .track-writers{
              font-size: 1.2rem;
            }
            .track-release-date{
              font-size: 1.2rem;
            }
            .track-recording-location{
              font-size: 1.2rem;
            }
            .track-analysis{
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .bottom-subcontainer{
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .column{
          border-radius: 25px;
          flex-wrap: wrap;
        }
        .column.left{
          width: 55%;
          .track-lyrics{
            text-align: left;
            background: rgba($spotifyBlack, 0.9);
            border-radius: 25px;
            padding: 3%;
            margin-bottom: 10px;
            white-space: pre-wrap;
          }
          .track-album{
            padding: 3%;
            background: rgba($spotifyBlack, 0.9);
            border-radius: 25px;
            margin-bottom: 10px;
            .album{
              transition: transform .2s;
              margin-top: 2vh;
              .album-image{
                width: 400px;
                height: 400px;
              }
            }
            .album:hover{
              transform: scale(1.10);
              cursor: pointer;
            }
          }
        }
        .column.right{
          width: 45%;
          margin-left: 15px;
          .track-media{
            padding: 3%;
            background: rgba($spotifyBlack, 0.9);
            border-radius: 25px;
            margin-bottom: 10px;
            .music-preview{
              width: 80%;
              height: auto;
              padding: 10px;
              border-radius: 5px;
              background-color: #eee;
              color: #444;
              margin: 20px auto;
              overflow: hidden;
              .row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .left {
                  width: 50%;
                  .album-cover{
                    max-width: 150px;
                  }
                }
                .right{
                  width: 50%;
                  .track-name{
                    padding-top: 1vh;
                    color: $spotifyBlack;
                  }
                }
              }
              .player{
                width: 100%;
              }
            }
            .music-video {
              position: relative;
              overflow: hidden;
              .resp-video{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
              }
            }
          }
          .track-description{
            text-align: left;
            padding: 3%;
            background: rgba($spotifyBlack, 0.9);
            border-radius: 25px;
            margin-bottom: 10px;
          }
          .track-artist{
            padding-top: 1vh;
            padding-bottom: 1vh;
            background: rgba($spotifyBlack, 0.9);
            border-radius: 25px;
            .artist-image {
              border-radius: 50%;
              height: 300px;
              width: 300px;
            }
            .artist{
              transition: transform .2s;
              margin-top: 2vh;
            }
            .artist:hover {
              transform: scale(1.15);
              cursor: pointer;
            }
          }
          .producer-container{
            background: rgba($spotifyBlack, 0.9);
            border-radius: 25px;
            margin-top: 1vh;
            padding-top: 1vh;
            .track-producers{
              padding-bottom: 1vh;
              .producer-image {
                border-radius: 50%;
                width: 200px;
                height: 200px;
              }
              .producer{
                transition: transform .2s;
                margin-top: 2vh;
              }
              .producer:hover {
                transform: scale(1.15);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .wrapper{
    .track-container{
      width: 75%;
      .top-subcontainer{
        .row {
          .column.left{
            .track-banner{
              img {
                max-width: 360px;
              }
            }
          }
        }
      }
      .bottom-subcontainer{
        .row {
          .column.left{
            .album{
              .album-image{
                max-width: 300px;
                max-height: 300px;
              }
            }
          }
          .column.right{
            .track-media{
              .music-preview{
                .row {
                  .left {
                    .album-cover{
                      max-width: 130px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .wrapper{
    .track-container{
      width: 85%;
      .top-subcontainer{
        .row {
          .column.left{
            .track-banner{
              img {
                max-width: 300px;
              }
            }
          }
        }
      }
      .bottom-subcontainer{
        .row {
          .column.right{
            .track-media{
              .music-preview{
                .row {
                  display: block;
                  .left {
                    width: 100%;
                    .album-cover{
                      max-width: 150px;
                    }
                  }
                  .right{
                    width: 100%;
                  }
                }
              }
            }
            .track-artist{
              .artist-image{
                height: 250px;
                width: 250px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 766px) {
  .wrapper{
    .track-container{
      width: 95%;
      .top-subcontainer{
        .row {
          margin: 0 auto;
          display: block;
          .column.left{
            width: 100%;
            .track-banner{
              img {
                max-width: 350px;
              }
            }
          }
          .column.right{
            width: 100%;
          }
        }
      }
      .bottom-subcontainer{
        .row {
          display: block;
          .column.left{
            width: 100%;
          }
          .column.right{
            width: 100%;
            margin-left: 0px;
            .track-media{
              .music-preview{
                .row {
                  display: block;
                  .left {
                    width: 100%;
                    .album-cover{
                      max-width: 200px;
                    }
                  }
                  .right{
                    width: 100%;
                  }
                }
              }
            }
            .track-producers{
              .producer-header{
                display: block;
              }
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-evenly;
              .producer {
                .producer-image {
                  width: 200px;
                  height: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 424px) {
  .wrapper{
    .track-container{
      .top-subcontainer{
        .row {
          .column.left{
            .track-banner{
              img {
                max-width: 290px;
              }
            }
          }
          .column.right{
            .track-name{
              h1{
                font-size: 2.5rem;
              }
            }
          }
        }
      }
      .bottom-subcontainer{
        .row {
          .column.left{
            .track-album{
              .album{
                .album-image {
                  max-width: 290px;
                }
              }
            }
          }
          .column.right{
            .track-media{
              .music-preview{
                width: 90%;
                .row {
                  display: block;
                  .left {
                    width: 100%;
                    .album-cover{
                      max-width: 250px;
                    }
                  }
                  .right{
                    width: 100%;
                  }
                }
              }
            }
            .producer-container {
              .track-producers{
                .producer-header{
                  display: block;
                }
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                .producer {
                  .producer-image {
                    width: 140px;
                    height: 140px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
