@import '../../../../variables';

.wrapper{
  height:100%;
  background-image: url("../../../../assets/backgrounds/home-bg.png");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  .banner-area{
    color: $lightGray;
    h1{
      font-size: 3rem;
    }
    font-size: 2rem;
    text-align: center;
    margin-top: 20vw;
    margin-left: 15vw;
  }
}

@media (max-width: 1200px) {
  .wrapper{
    background-image: url("../../../../assets/backgrounds/mobile-home-bg.jpg");
    .banner-area{
      h1{
        font-size: 3.5rem;
      }
      margin-top: 10vw;
      margin-left: 22vw;
    }
  }
}

@media (max-width: 922px) {
  .wrapper{
    .banner-area{
      margin-left: 15vw;
    }
  }
}

@media (max-width: 766px) {
  .wrapper{
    .banner-area{
      h1{
        font-size: 2.5rem;
      }
      font-size: 1.5rem;
      margin-left: 1.5vw;
    }
  }
}

@media (max-width: 425px) {
  .wrapper{
    justify-content: center;
    align-items: center;
    .banner-area{
      h1{
        font-size: 2rem;
      }
      margin-top: 0;
      margin-bottom: 170vw;
    }
  }
}

