@import '../../../../variables';



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $spotifyBlack;
    .artist-banner{
      padding: 3%;
      img {
        width: 100%;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    top: 0;
    .bg-image{
      filter: blur(6px);
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      height: 110%;
      width: 110%;
      left: 0;
      top: 0;
      z-index: -1000;
      position: fixed;
    }
    .artist-container{
      margin: 0 auto;
      width: fit-content;
      background-color: $spotifyBlack;
      border-radius: 25px;
      position: absolute;
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }
}
