@import '../../../../variables';

.wrapper{
  display: flex;
  color: $lightGray;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
  top: 0;
  .bg-image{
    filter: blur(6px);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1000;
    position: fixed;
  }
  .artist-container{ //klasa kontenera informacji o artyście
    margin: 0 auto; //rozkład automatyczny marginesów
    width: 65%; //szerokość kontenera
    position: absolute; //pozycjonowanie kontenera
    margin-top: 1vh; //długość zewnętrznego marginesu górnego
    .top-subcontainer{ //klasa górnej część kontenera informacji
      padding-top: 2vh; //długość wewnętrznego marginesu górnego
      border-radius: 25px; //promień krawędzi kontenera
      background: rgba($spotifyBlack, 0.9); //kolor i przeźroczystość tła
      padding-bottom: 1vh; //długość wewnętrznego marginesu dolnego
      margin-bottom: 2vh; //długość zewnętrznego marginesu dolnego
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .column{
          border-radius: 25px;
          flex-wrap: wrap;
        }
        .column.left{
          width: 50%;
          .artist-banner{
            img {
              max-width: 450px;
            }
          }
        }
        .column.right{
          width: 50%;
          .artist-name{
            padding-top: 1vh;
            h1{
              font-size: 3rem;
            }
          }
          .artist-miscalleanous {
            text-align: left;
            border-radius: 25px;
            padding: 3%;
            margin-bottom: 10px;
            .artist-genres{
              padding-bottom: 1vh;
            }
            .artist-followers{
              font-size: 1.2rem;
              padding-bottom: 1vh;
            }
            .artist-popularity{
              font-size: 1.2rem;
              padding-bottom: 1vh;
            }
          }
        }
      }
    }
    .bottom-subcontainer {
      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .column{
          border-radius: 25px;
          flex-wrap: wrap;
        }
        .column.left{
          width: 75%;
        }
        .column.right{
          width: 25%;
          margin-left: 10px;
        }
      }
      .artist-bio{
        text-align: justify;
        background: rgba($spotifyBlack, 0.9);
        border-radius: 25px;
        padding: 3%;
        margin-bottom: 10px;
        span{
          font-size: 0.8rem;
          cursor: pointer;
        }
        span:hover {
          filter: brightness(120%);
        }
      }
      .albums-container{
        background: rgba($spotifyBlack, 0.9);
        border-radius: 25px;
        padding: 3%;
        .artist-albums{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .album-header{
            display: block;
          }
          .album{
            width: 50%;
            padding-bottom: 1vh;
            transition: transform .2s;
          }
          .album:hover{
            transform: scale(1.05);
            cursor: pointer;
          }
        }
      }
      .similars-container {
        padding-top: 1vh;
        background: rgba($spotifyBlack, 0.9);
        border-radius: 25px;
        .artist-header{
          display: block;
        }
        .similar-artists{
          padding-bottom: 1vh;
          .similar-artist-image {
            border-radius: 50%;
          }
          .artist-box {
            transition: transform .2s;
            margin-top: 2vh;
          }
          .artist-box:hover {
            transform: scale(1.05);
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .wrapper{
    .artist-container{
      width: 75%;
      .top-subcontainer{
        .row {
          .column.left{
            .artist-banner{
              img {
                max-width: 360px;
              }
            }
          }
        }
      }
      .bottom-subcontainer {
        .albums-container{
          .artist-albums{
            .album{
              .album-image{
                width: 95%;
              }
            }
          }
        }
        .similar-artists{
          .artist-box {
            .similar-artist-image {
              width: 150px;
              height: 150px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .wrapper{
    .artist-container{
      width: 85%;
      .top-subcontainer{
        .row {
          .column.left{
            .artist-banner{
              img {
                max-width: 300px;
              }
            }
          }
          .column.right{
            .artist-name{
              h1{
                font-size: 2.5rem;
              }
            }
          }
        }
      }
      .bottom-subcontainer {
        .albums-container{
          .artist-albums{
            .album{
              .album-image{
                width: 95%;
              }
            }
          }
        }
        .similar-artists{
          .artist-box {
            .similar-artist-image {
              width: 130px;
              height: 130px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 766px) {
  .wrapper{
    .artist-container{
      width: 95%;
      .top-subcontainer{
        .row {
          margin: 0;
          display: block;
          .column.left{
            width: 100%;
            .artist-banner{
              img {
                max-width: 350px;
              }
            }
          }
          .column.right{
            width: 100%;
            .artist-name{
              h1{
                font-size: 2.5rem;
              }
            }
            .artist-miscalleanous {
              margin-left: 1vw;
            }
          }
        }
      }
      .bottom-subcontainer {
        .row{
          display: block;
          .column.left{
            width: 100%;
            .albums-container{
              .artist-albums{
                .album{
                  .album-image{
                    width: 95%;
                  }
                }
              }
            }
          }
          .column.right{
            width: 100%;
            margin-top: 15px;
            margin-left: 0px;
            .similar-artists{
              .artist-header{
                display: block;
              }
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-evenly;
              .artist-box {
                .similar-artist-image {
                  width: 180px;
                  height: 180px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 424px) { //style dla urządzeń o szerokości do 424 pikseli
  .wrapper{
    .artist-container{
      .top-subcontainer{
        .row {
          .column.left{
            width: 100%; //zmieniona szerokość kolumny, obejmująca szerokość całego ekranu
            .artist-banner{
              img {
                max-width: 290px; //zmniejszona wielkość grafiki artysty
              }
            }
          }
          .column.right{
            width: 100%; //zmieniona szerokość kolumny, obejmująca szerokość całego ekranu
            .artist-name{
              h1{
                font-size: 2.5rem; //zmniejszony nagłówek z nazwą artysty
              }
            }
            .artist-miscalleanous {
              margin-left: 1vw;
            }
          }
        }
      }
      .bottom-subcontainer {
        .row{
          display: block;
          .column.left{
            width: 100%;
            .artist-bio{
              h1{
                font-size: 1.3rem;
              }
            }
            .albums-container{
              .artist-albums{
                display: block;
                .album{
                  width: 100%;
                  .album-image{
                    width: 95%;
                  }
                }
              }
            }
          }
          .column.right{
            width: 100%;
            margin-top: 15px;
            margin-left: 0px;
            .similar-artists{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-evenly;
              .artist-box {
                .similar-artist-image {
                  width: 140px;
                  height: 140px;
                }
              }
            }
          }
        }
      }
    }
  }
}
